<html>
  <div class="jumbotron text-center">
    <% include header %>
    <p><h4><strong>Create Brain Wallet</strong></h4></p>
    <form method="post" action="/wallet">
      <input class="phrase" type="text" name="brainsrc" placeholder="Please enter your mnemonic:">
      <input type="submit" value="Go">
    </form>
  </div>

  <div class="accounts">
  </div>

  <script>
  </script>

</html>