<head>
  <title>Bitcoin Converter</title>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xz7cmOriFCe/JvTrkgJ3kkDsR1J/mZw7hflmvRq74Mv5W7LwSyl07d/xLcs4CrRe" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <style>
    .jumbotron {min-height: 100%; background-image: url("images/ocean-unsplash.jpg"); background-size: 100%; background-position: center;}
    .buttons {margin: 40px;}
    .inputs {margin: 30px;}
    p {margin-bottom: 20px;}
    .phrase {width: 500px;}
    /* .info {text-align: left; border-color: blue; border-width: 3px;} */
  </style>
</head>


<h1>Bitcoin Wallet and Converter</h1>

<div class="buttons">
  <a href="/" class="btn btn-primary">Home</a>
  <a href="/brain" class="btn btn-secondary">Wallet</a>
  <a href="/converter" class="btn btn-info">Converter</a>
</div>